// Breakpoints
$xxl: 1440px
$xl: 1280px
$lg: 1024px 
$md: 768px
$smp: 411px
$sm: 375px
$xs: 320px

// Colors
$white: #FFFFFF
$dark-blue: #022c60

// Background colors

// Hide 
.hide__lg
	@media screen and (min-width: $lg)
		display: none

.hide__sm
	@media screen and (min-width: $xs) and (max-width: $lg - 1)
		display: none
	@media screen and (min-width: $lg)
		display: flex


a:link
	text-decoration: none


