.button
	border: 1.25px solid $dark-blue
	border-radius: 8px
	color: $dark-blue

.button:hover
	background-color: $dark-blue
	color: $white

.nav__button-1, .nav__button-2, .nav__button-3, .nav__button-4
	.button
		padding: 5px 20px

#services
	.button 
		padding: 5px 20px
