.button
	border: 1.25px solid $dark-blue
	border-radius: 8px
	color: $dark-blue

#navbar, .team__list
	.button:hover
		background-color: $dark-blue
		color: $white


.nav__button-1, .nav__button-2, .nav__button-3, .nav__button-4
	flex-flow: row
	width: 100%
	.button
		flex-grow: 1
		height: 35px
		padding-top: 2px


#services
	.button 
		padding: 5px 20px

#values
	.button 
		padding: 5px 20px

#team
	.team__title
		.button 
			padding: 5px 20px
	.team__list
		.button 
			padding: 5px

