#intro
	border-bottom: 2px solid $dark-blue
	height: 100vh
	width: 100%

	.image__panel
		display: block
		margin: auto
		text-align: center
		
	.image__carousel
		position: absolute
		bottom: 0

	//.carousel-indicators
		//text-align: center


	ol.image__list
		padding-left: 0
		padding-right: 0
		margin-bottom: 0

	.image-1
		text-align: center
		height: auto
		@media screen and (min-width: $xs) and (max-width: $sm - 1)
			width: 280px
			padding-left: 15px
			left: -15px
		@media screen and (min-width: $sm) and (max-width: $smp - 1)
			width: 320px
			padding-left: 22px
		@media screen and (min-width: $smp) and (max-width: $md - 1)
			width: 380px
			left: -10px
		@media screen and (min-width: $md) and (max-width: $lg - 1)
			width: 600px
			margin-left: 40px
		@media screen and (min-width: $lg) and (max-width: $xl - 1)
			width: 860px
			margin-left: 25px
		@media screen and (min-width: $xl) and (max-width: $xxl - 1)
			width: 900px
			margin-left: 50px
			right: -40px
		@media screen and (min-width: $xxl)
			width: 1000px
			margin-left: 20px
			right: -40px

	.image-2
		text-align: center
		height: auto
		@media screen and (min-width: $xs) and (max-width: $sm - 1)
			width: 280px //250
			margin-top: 23px // 50
			left: -5px // padding-left: 25px
		@media screen and (min-width: $sm) and (max-width: $smp - 1)
			width: 320px // 280
			margin-top: 23px // 43
			margin-left: 0px // 23
		@media screen and (min-width: $smp) and (max-width: $md - 1)
			width: 420px // 400
			margin-top: 42px // 47
			padding-right: 37px // 27
			left: -25px
		@media screen and (min-width: $md) and (max-width: $lg - 1)
			width: 600px
			margin-top: 69px
			margin-left: 20px
			right: -20px
		@media screen and (min-width: $lg) and (max-width: $xl - 1)
			width: 920px // 860
			margin-top: 70px // 99
			margin-left: -15px // 20
		@media screen and (min-width: $xl) and (max-width: $xxl - 1)
			width: 900px
			margin-top: 104px
			margin-left: 35px
			position: relative
			right: -55px
		@media screen and (min-width: $xxl)
			width: 900px
			margin-top: 165px
			right: -90px











