#intro
	border-bottom: 2px solid $dark-blue
	width: 100%
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		height: 93vh
	@media screen and (min-width: $md)
		height: 100vh

	.image__panel
		margin: auto
		text-align: center
		@media screen and (min-width: $md)
			display: grid
			grid-template-rows: 1fr 1fr
			grid-template-columns: 1fr
			height: 100vh
			padding-bottom: 2px

		
	.image__carousel
		@media screen and (min-width: $xs) and (max-width: $md - 1)
			position: absolute
			bottom: 0
			left: 0
		@media screen and (min-width: $md)
			grid-row-start: 2
			grid-row-end: 3
			grid-column-start: 1
			grid-column-end: 2
			align-self: end
		
	ol.image__list
		padding-left: 0
		padding-right: 0
		margin-bottom: 0

	.image__list
		@media screen and (min-width: $md)
			display: grid
			grid-template-rows: 1fr
			grid-template-columns: 1fr

	.image-1
		text-align: center
		height: auto
		@media screen and (min-width: $xs) and (max-width: $md - 1)
			width: 100%

		@media screen and (min-width: $md)
			grid-row-start: 1
			grid-row-end: 2
			grid-column-start: 1
			grid-column-end: 2
			align-self: end

		@media screen and (min-width: $md) and (max-width: $lg - 1)
			padding: 0 40px
			margin-top: 1px
		@media screen and (min-width: $lg) and (max-width: $xl - 1)
			padding: 0 70px
		@media screen and (min-width: $xl)
			padding: 0 150px
		

	.image-2
		text-align: center
		height: auto
		@media screen and (min-width: $xs) and (max-width: $md - 1)
			width: 100%
		@media screen and (min-width: $xs) and (max-width: 360px - 1)
			margin-top: 36px
		@media screen and (min-width: 360px) and (max-width: $sm - 1)
			margin-top: 41.5px
		@media screen and (min-width: $sm) and (max-width: $smp - 1)
			margin-top: 43px
		@media screen and (min-width: $smp) and (max-width: $md - 1)
			margin-top: 47px

		@media screen and (min-width: $md)
			grid-row-start: 1
			grid-row-end: 2
			grid-column-start: 1
			grid-column-end: 2
			align-self: end

		@media screen and (min-width: $md) and (max-width: $lg - 1)
			padding: 0 30px
			margin-top: 61px
		@media screen and (min-width: $lg) and (max-width: $xl - 1)
			padding: 0 60px
			margin-top: 81px
		@media screen and (min-width: $xl)
			padding: 0 80px
			margin-top: 24px





